{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-header text-center">
                <h4>Login</h4>
            </div>

            <div class="card-body">

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Username</label>
                        {{ form.username }}
                        <div class="text-danger">
                            {{form.username.errors.0}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label>Password</label>
                        {{ form.password }}
                        <div class="text-danger">
                            {{ form.password.errors.0}}
                        </div>
                    </div>
                    

                    <button type="submit" class="btn btn-success w-100">
                        Login
                    </button>
                </form> 
            </div>
        </div>
    </div>
</div>

{% endblock %}