{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5 w-40">

        <div class="card shadow">
            <div class="card-header text-center">
                <h4 class="text-success">Seller Registration</h4>
            </div>

            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <table class="table table-borderless">

                        <tbody style="vertical-align: middle;">
                            <tr class="mb-2">
                                <td>Username</td>
                                <td>
                                    {{form.username}}
                                    {%if form.username.errors%}
                                    <div class="text-danger">
                                        {{form.username.errors.0}}
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td>Email</td>
                                <td >{{ form.email}}
                                    {% if form.email.errors %}
                                        <div class="text-danger">
                                            {{ form.email.errors.0 }}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td>Password</td>
                                <td>{{form.password}}
                                    {% if form.password.errors %}
                                        <div class="text-danger">
                                            {{ form.password.errors.0 }}
                                        </div>
                                    {%endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td>Store Name</td>
                                <td>{{form.store_name}}
                                    {%if form.store_name.errors%}
                                    <div class="text-danger">
                                        {{form.store_name.errors.0}}
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td>Phone</td>
                                <td>{{form.phone}}
                                    {% if form.phone.errors %}
                                        <div class="text-danger">
                                            {{ form.phone.errors.0 }}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td>City</td>
                                <td>{{form.city}}</td>
                                {% if form.field.errors %}
                                <div class="text-danger">
                                    {{ form.field.errors.0}}
                                </div>
                                {% endif %}
                            </tr>
                            <tr class="mb-2">
                                <td>State</td>
                                <td>{{form.state}}
                                    {%if form.state.errors %}
                                        <div class="text-danger">
                                            {{form.state.errors.0}}
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                                <td>Select Categories</td>
                                <td>{{form.categories}}
                                {% if form.categories.errors %}
                                    <div class="text-danger">
                                        {{ form.categories.errors.0}}
                                    </div>
                                {% endif %}
                                </td>
                            </tr>
                            <tr class="mb-2">
                               <td colspan="2">
                                <button class="btn btn-success w-100" type="submit">Register as Seller</button>
                               </td>
                            </tr>
                        </tbody>

                    </table>
                </form>

            </div>
        </div>

        <!-- {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %} -->

    </div>
</div>

{% endblock %}