{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">Seller Dashboard</h2>

    <!-- CATEGORY SECTION -->

    <div class="row mb-3">
        <h4 class="mb-3">Your Categories</h4>
        {% for cat in categories %}
            <div class="col-md-3 mb-3">

                <a href="{% url 'select_subcategory' cat.id %}" style="text-decoration: none;">
                    <div class="card p-2 text-center">

                        {% if cat.image %}
                            <img src="{{ cat.image.url }}" height="180" style="object-fit: fill;">
                        {% endif %}
                        <h5 class="p-1">{{ cat.name }}</h5>

                    </div>
                </a>

            </div>
        {% endfor %}
    </div>

    <hr>

    <!-- Summary card section -->
     <div class="row mb-4 ">

        <!-- total products -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3 bg-light">
                <h5>Total Products:</h5>
                <h2>
                    {{ total_products}}
                </h2>
            </div>
        </div>

        <!-- total orders -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3 bg-light">
                <h5>Total Orders:</h5>
                <h2>
                    {{ total_orders }}
                </h2>
            </div>
        </div>

        <!-- pending orders -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3 bg-light">
                <h5>Pending Orders:</h5>
                <h2>
                    {{ pending_orders }}
                </h2>
            </div>
        </div>

        <!-- delivered orders -->
        <div class="col-md-3">
            <div class="card shadow-sm p-3 bg-light">
                <h5>Delivered Orders:</h5>
                <h2>
                    {{ delivered_orders }}
                </h2>
            </div>
        </div>

    </div>


     <div class="row mb-4 mt-4">
        <div class="col-md-4">
            <a href="{% url 'seller_orders' %}">
            <div  class="card shadow-sm p-3 ">
                <h4>Manage Orders</h4>
            </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'out_of_stock' %}">
                <div class="card shadow-sm p-3">
                    <h4>Out Of Stock</h4>
                </div>
            </a>
        </div>

        <div class="col-md-4">
            <a href="{% url 'deleted_products' %}">
                <div class="card shadow-sm p-3">
                    <h4> Deleted Products</h4>
                </div>
            </a>
        </div>
     </div>

    <!-- PRODUCT SECTION -->
    <div class="row">
        <h4>Your Products</h4>
        {% for product in products %}
            <div class="col-md-3 p-3">
                <div class="card p-2 ">

                    <!-- ✅ Product Image -->
                    {% if product.images.all %}
                        <img src="{{ product.images.first.image.url }}" height="200" style="object-fit: cover;">

                    {% else %}
                        <p>No Image</p>
                    {% endif %}

                    <h5>{{ product.name }}</h5>
                    <p>{{ product.description|truncatewords:8 }}</p>
                    <p>price: ₹{{ product.price }}</p>
                    <p>Stock: {{ product.stock }}</p>

                    <!-- ✅ Buttons -->
                    <a href="{% url 'edit_product' product.id %}"class="btn btn-outline-info mb-2" >Edit</a>

                    <a href="{% url 'delete_product' product.id %}"class="btn btn-outline-danger">Delete</a>

                </div>
            </div>
        {% empty %}
            <p>No products yet</p>
        {% endfor %}

    </div>


</div>
{% endblock %}
