{% extends 'base.html' %}
{% block title %} Chat Room {% endblock %}
{% block content %}

<div class="col-md-12 mb-3">
    <div class="card shadow-sm p-3">
        <h1 class="text-success">Chat Room</h2>
        <hr>
        <h3>
            Product: {{ room.product.name }}
        </h3>
        <h3>
            Buyer: {{ room.buyer.username }}
        </h3>
    </div>
</div>
<div class="col-md-12">
    <div class="card shadow-sm p-3 ">
        <div id="messages">
            {% for msg in msgs %}
                <p>
                    <strong>
                        {{ msg.sender.username }}
                    </strong>
                    :{{ msg.message }}
                </p>
            {% endfor %}
        </div>
        <hr>
        <label>Enter Message:<input id="message-input" class="form-control mb-2" type="text"></label>
        <button class="btn btn-success" id="send-btn">Send</button>
    </div>
</div>
<!-- {{ room.id|json_script:"room-id" }} -->


<script>

const roomId = "{{ room.id }}";
const socket = new WebSocket(
    "ws://"+window.location.host+"/ws/chat/"+roomId+"/"
);
// const socket = new WebSocket(
//     `ws://${window.location.host}/ws/chat/${roomId}`
// );

socket.onopen=function(){
    console.log("connected");
}

socket.onmessage =
function(event){
    const data=JSON.parse(event.data);
    const div = document.getElementById("messages");

    div.innerHTML += `<p><strong>${data.sender}</strong>:${data.message}</p>`
};

document.getElementById("send-btn").addEventListener("click",function(){
    const message = document.getElementById("message-input").value;
    socket.send(JSON.stringify({
        message:message
    }));
    document.getElementById("message-input").value="";
});
</script>


{% endblock %}